input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #80aad8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
  }
  
  .seperator
  {
    margin-top: 1px;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border-color: #80aad8 !important;
  }

  .container
  {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  #date
  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
  }

  .submitbtn
  {
    font-size: 20px;
  }

  textarea
  {
    width: 100%;
  }

.invalid-feedback
{
  margin: 0;
  padding: 0;
}