<h1 class="center">Adding Course</h1>

<div class="container m-b-100">
    <form #courseForm="ngForm" (ngSubmit)="form.valid && addCourse(courseForm)" [formGroup]="form">
        <div>
            <label for="inputText">Title</label>
            <input type="text" name="course_title" [(ngModel)] = "course.course_title" class="form-control" id="inputText" placeholder="Title of the course"
            formControlName="course_title" [ngClass]="{'is-invalid':form.get('course_title').touched && form.get('course_title').invalid}" required>

            <div class="invalid-feedback" *ngIf="form.get('course_title').touched && form.get('course_title').invalid">
                <small class="form-text text-muted errorMsg" *ngIf="form.get('course_title').errors.required">Please enter the title of the course</small>
                <small class="form-text text-muted errorMsg" *ngIf="form.get('course_title').errors.maxlength">Please enter a title less than 100 characters</small>
            </div>
            <hr class="seperator"/>
        
            <label for="inputText">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description of the course" name="description" [(ngModel)] = "course.description"
            formControlName="description" [ngClass]="{'is-invalid':form.get('description').touched && form.get('description').invalid}" required></textarea>
            <div class="invalid-feedback" *ngIf="form.get('description').touched && form.get('description').invalid">
                <small class="form-text text-muted errorMsg" *ngIf="form.get('description').errors.required">Please enter the description of the course</small>
                <small class="form-text text-muted errorMsg" *ngIf="form.get('description').errors.maxlength">Please enter a description less than 300 characters</small>
            </div>

            <hr class="seperator"/>

            <label for="inputText">Target Audience</label>
            <input type="text" class="form-control" id="inputText" placeholder="Target Audience" name="target_audience" [(ngModel)] = "course.target_audience"
            formControlName="target_audience" [ngClass]="{'is-invalid':form.get('target_audience').touched && form.get('target_audience').invalid}" required>
            <div class="invalid-feedback" *ngIf="form.get('target_audience').touched && form.get('target_audience').invalid">
                <small class="form-text text-muted errorMsg" *ngIf="form.get('target_audience').errors.required">Please enter the target audience of the course</small>
                <small class="form-text text-muted errorMsg" *ngIf="form.get('target_audience').errors.maxlength">Please enter a name less than 200 characters</small>
            </div>
            <hr class="seperator"/>

            <input class="submitbtn" type="submit" value="Next" [ngClass]="{'validForm': form.valid}" [disabled]="!form.valid" (click)="dataService.getCourses();">
            
        </div>
    </form>
</div>


<app-list-course-event></app-list-course-event>
<app-add-course-event *ngIf="dataService.currentNewCourse"></app-add-course-event>