<h1 class="center">Adding Course</h1>

<div class="container">
    <form #courseForm="ngForm" (ngSubmit)="addCourse(courseForm)">
        <div>
            <label for="inputText">Title</label>
            <input type="text" name="course_title" [(ngModel)] = "course.course_title" class="form-control" id="inputText" placeholder="Title of the course">
            <hr class="seperator"/>

            <label for="inputText">Date</label>
            <input type="date" name="start_date" id="date" [(ngModel)] = "course.start_date"> 
            <hr class="seperator"/>

            <label for="inputText">Location</label>
            <select class="form-control" id="exampleFormControlSelect1" name="location" [(ngModel)] = "course.location">
                    <option value="Belfast">Belfast</option>
                    <option value="Derry">Derry</option>
                    <option value="Dublin">Dublin</option>
                    <option value="London">London</option>
                    <option value="Gdansk">Gdansk</option>
                    <option value="Amsterdam">Amsterdam</option>
                    <option value="Boston">Boston</option>
                    <option value="Frankfurt">Frankfurt</option>
            </select>
            <hr class="seperator"/>
        
            <label for="inputText">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description of the course" name="description" [(ngModel)] = "course.description"></textarea>
            <hr class="seperator"/>

            <label for="inputText">Trainer Names</label>
            <input type="text" name="trainer_names"  class="form-control" id="inputText" placeholder="Trainer Names" name="trainer_names" [(ngModel)] = "course.trainer_names">
            <hr class="seperator"/>
    
            <label for="inputText">Target Audience</label>
            <input type="text" class="form-control" id="inputText" placeholder="Target Audience" name="target_audience" [(ngModel)] = "course.target_audience">
            <hr class="seperator"/>

            <label for="inputText">Duration</label>
            <input type="number" class="form-control full" id="inputNumber" placeholder="Duration" name="duration_hours" [(ngModel)] = "course.duration_hours">
            <hr class="seperator"/>
            <input class="submitbtn" type="submit" value="submit">
            
        </div>
    </form>
</div>