<div>
    <h1 class="center"> List of Courses</h1>


    <table>
        <thead>
            <tr>
                <th class="center">Course Name</th>
                <th class="center">Trainer</th>
                <th class="center">More Info</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of data.courses; let show = false" class="center">
                <!-- data.listCourses -->
                <td class="center">
                    {{ course.course_title }}
                </td>
                <td class="center">
                    {{ course.trainer_names }}
                </td>

                <td>
                    <button class="moreInfoBtn">More Info</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>