<div>
    <h1 class="center"> List of Courses</h1>


    <table>
        <thead>
            <tr>
                <th class="center">Course Name</th>
                <th class="center">Location</th>
                <th class="center">Start Date</th>
                <th class="center">More Info</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of data.courses" class="center">
                <!-- data.listCourses -->
                <td class="center">
                    {{ course.course_title }}
                </td>
                <td class="center">
                    {{ course.location }}
                </td>
                <td class="center">
                    <p >{{ course.start_date }}</p>
                </td>

                <td>
                    <a [routerLink]="['/course/',course.course_id]">View More</a>
                </td>

            </tr>
        </tbody>
    </table>

</div>