<h1>{{ title }}</h1>


 
<!--
make list
 
 -->
 
 <table class="table table-hover">
 
 <!-- Head -->
 <thead>
 <tr>
 
 <th>Course Name</th>
 <th>Trainer</th>
 
 </tr>
 </thead>
 
 <!-- Content -->
 <tr *ngFor="let course of data.courses; let show = false"> <!-- data.listCourses -->
 <td>
 {{ course.course_title }}
 </td>
 <td>
 {{ course.trainer_names }}
 </td>
 
 <button (click)="show = !show">{{show ? 'Hide' : 'Show'}}</button>
 
 <p *ngIf="show">{{course.description }}</p>
 <p *ngIf="show">{{course.target_audience}}</p>
 <p *ngIf="show">{{course.duration_hours}}</p>
 </tr>
 </table>