<div>

    <div *ngIf="data.course" class="course container">
        <h1 class="center">Course: {{ data.course.course_title }}</h1>

        Location: {{ data.course.location }} <br>

        {{ data.course.start_date }} | {{ data.course.duration_hours }} Hours <br><br>

        Target Audience:
        {{ data.course.target_audience }} <br>

        Trainer names:
        {{ data.course.trainer_names }} <br>        

        <hr>

        <div class="description">
            Description: <br>
            {{ data.course.description }} <br>
        </div>

    </div>
</div>