  <!-- Site footer -->
  <footer class="site-footer">

    <div class="container">
      <div class="row">
        <img src="/assets/kainos_logo.png" alt="Kainos logo" class="left verticalCenter">
        <div class="col-md-4 col-sm-6 col-xs-12 right">
          <ul class="social-icons">
            <li><a class="facebook" href="https://en-gb.facebook.com/KainosSoftware/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/KainosSoftware?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="https://www.youtube.com/channel/UCe3fxtKvbhzeJECwApKQwNg"><i class="fa fa-youtube"></i></a></li>
            <li><a class="linkedin" href="linkedin.com/company/kainos"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>