<!-- Modal -->
<div class="modale" [ngClass]="{'opened': data.showAddCourseEvent}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-header">
            <h2>Add Course Event</h2>
          </div>
          <div class="modal-body">
            <input type="text" name="location" placeholder="Location" size="30" /><br>
            <input type="date" name="start_date" placeholder="Start Date" size="30" /><br>
            <input type="number" name="duration_hours" placeholder="Duration (Hours)" size="30" /><br>
            <input type="text" name="trainer_names"  placeholder="Trainer Names" size="30" /><br>
          <div class="modal-footer">
        
      
            <a class="btn" id="btn_ingresar">Save</a>
          </div>
        </div>
</div>