<!-- Modal -->
<div class="modale opened" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-header">
            <h2>Add Course Event</h2>
          </div>
          <div class="modal-body">
            <input type="text" name="u" placeholder="User" size="20" /><br>
            <input type="text" name="p" placeholder="&bull;&bull;&bull;&bull;" size="20" /></div>
          <div class="modal-footer">
        
      
            <a class="btn" id="btn_ingresar">Save</a>
          </div>
        </div>
</div>